:root{
    --ff:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --clr: #ffff;
    --fw-bold: 700;
}

/*Reset de propiedades por defecto de los navegadores*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: var(--ff);
}

header {
--bg-primary: hsl(207, 50%, 30%);   


display: flex;
position: relative;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: var(--bg-primary);


}

.header__logo {
    position: absolute;
    left: 150px;
    top: 0px;
}

.header__logo img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

/*Menu principal*/
.nav__menu {
    height: 50px;
   
}
.nav__list {
    display: flex;
    
}

.nav__item {
    padding: 10px 12px;
   
}

.nav__link {

    /*custom property de color*/
    --clr:#ffff;


    color: var(--clr);
    font-weight: var(--fw-bold);
}

/*SubMenu*/
.sub-menu {
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    padding: 5px;
}

.sub-menu span{
    color: #000;
}

.sub-menu__link {
    color: #000;
    padding-inline:  5px;
    text-align: center;
   
}

.sub-menu__link::after{
    content: "|";
    margin-left: 5px;
}

/*Section hero*/
.hero {
    background-image: url(img/heroImage.jpg);
    background-repeat: no-repeat;
    
    height: 50vh;
}